.contato{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #420217;
    font-family: 'Merriweather', serif;
    align-items: center;
    font-size: 1.2em;
    background-color: #f2e0d6;
}

.formata-input{
    font-size: 1em;
    color: #420217;
    width: 30%;
	height: 5vh;
	border-radius: 10px;
    border-color: #e4a579;
}

.botao-submit{
    height: 4vh;
    width: 5vw;
    font-size: 0.8em;
    border: 1px solid #420217;
    background-color: #f2e0d6;
    cursor: pointer;
}

#caixa-mensagem{
    height: 15vh;
}

.tamanho-logo-face{
    width: 2%;
}

.tamanho-logo-insta{
    width: 1.8%;
}

.tamanho-logo-twitter{
    width: 2.1%;
}

.tamanho-logo-whats{
    width: 2%;
}

.formata-logos{
    text-align: center;
    color: #420217;
    font-size: 1em;
    font-family: 'Merriweather', serif;
}

h4{
    padding-bottom: 1.7vh;
}