* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-around;
    height: 23vh;
    color: #420217;
    font-size: large;
}

.formata-imagem-header {
    display: flex;
    align-items: center;
    background-color: white;
}

.imagem-logo {
    margin-top: 1vh;
    max-width: 90%;
    max-height: 90%;
}

.botao-login {
    height: 3vh;
    width: 3vw;
    font-size: 0.8em;
    border: 1px solid #420217;
    background-color: #f2e0d6;
    cursor: pointer;
}

.label-input-botao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    row-gap: 1vh;
}

.borda-embaixo {
    border-style: bottom;
}

.formata-link-cor {
    margin-top: 15vh;
    color: #420217;
    font-size: 1.3em;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    cursor: pointer;
}

.cor-fundo {
    background-color: #f2e0d6;
}

footer {
    color: #420217;
    background-color: white;
    height: 13vh;
    padding: 0px 20px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    justify-items: left;
    align-items: center; 
    padding-top: 5vh;
    font-family: 'Merriweather', serif;
    color: #420217;
    text-align: center;
    font-size: 1.5em
}

.tamanho-img-pagamento {
    max-width: 38%;
    background-color: white;

}

.tamanho-logos {
    max-width: 3.5%;
    background-color: #f2e0d6;
}


.footer-left {
    text-align: justify;

}

.footer-right {
    text-align: right;
}

.text-left {

    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    padding-bottom: 2vh;

}

.text-right {
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    padding-bottom: 1vh;
}

.foto-açougue {
    width: 275px;
}

.foto-padaria {
    width: 275px;
}

.foto-bebidas {
    width: 275px;
}

.foto-hortifruti {
    width: 275px;
}

.pao-frances {
    width: 275px;
}

.croassant {
    width: 275px;
    height: 150px;
}

@media screen and (min-device-width : 414px) and (max-device-width : 736px) {

    header {
        display: flex;
        justify-content: space-around;
        height: 23vh;
        color: #420217;
        font-size: large;

    }

    .formata-link-cor {
        margin-top: 15vh;
        color: #420217;
        font-size: 0.8em;
        text-decoration: none;
        font-family: 'Merriweather', serif;
        cursor: pointer;
    }



    .formata-imagem-header {
        display: flex;
        align-items: center;
        background-color: white;
        width: 50%;
    }

    .imagem-logo {
        margin-top: 1vh;
        max-width: 60%;
        max-height: 100%;
    }

    .botao-login {
        height: 15%;
        width: 25%;
        font-size: 0.8em;
        border: 1px solid #420217;
        background-color: #f2e0d6;
        cursor: pointer;
    }

    .label-input-botao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.7em;
        row-gap: 1vh;

    }

    header>div>input {
        width: 55%;
    }

    .container {
        display: flex;
        flex-direction: column;

    }

}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
        display: flex;
        flex-direction: column;

    }

}