main img{
    height: 27vh;
    width: 28vw;
} 

.container-kits {
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    text-align: center;
    justify-content: center;
    font-size: 1.2em;
}
    .imagem-compra{
        width: 5vw;
        height: 8vh;
    }
    
    .tamanho-botao{
        width: 8%;
        height: 8%;
    }