.contato{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #420217;
    font-family: 'Merriweather', serif;
    align-items: center;
    font-size: 1.2em;
}

.formata-input{
    font-size: 1em;
    color: #420217;
    width: 30%;
	height: 5vh;
	border-radius: 10px;
    border-color: #e4a579;
}

.botao-submit{
    height: 4vh;
    width: 5vw;
    font-size: 0.8em;
    border: 1px solid #420217;
    background-color: #f2e0d6;
    cursor: pointer;
}

#caixa-mensagem{
    height: 15vh;

}