main img{
    height: 30vh;
    width: 20vw;
}

.container-kits {
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    text-align: center;
    font-size: 1.2em;
}

.tam-refrigerante{
    height: 27vh;
    width: 20vw;

}

.tam-suco{
    height: 19vh;
    width: 28vw;
}
.imagem-compra{
    width: 5vw;
    height: 8vh;
}

.tamanho-botao{
    width: 8%;
    height: 8%;
}